.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.backup
*.tfvars # unless vars.tfvars is safe to share (see above)
crash.log
*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
